body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4CAF50, #2196F3);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    color: #333; /* Dark Text Color */
}

h1 {
    margin-bottom: 20px;
    color: #004d40;
}

input[type="number"],
button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #00695c; /* Button Background Color */
    color: white;
}

button:hover {
    background-color: #004d40; /* Darker Button Background Color on Hover */
}

#change-due {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white; /* Text Color for Change Due Message */
}

#cash-in-drawer {
    text-align: left;
    margin-top: 20px;
    color: #333; /* Dark Text Color */
}
